{% extends "PjplAnalizaBundle::window.html.twig" %}

{% block body %}
	<div class="count">
		{{ zrzuty.getTotalItemCount }}
	</div>


		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>timestamp</th>
					<th>input 0</th>
					<th>input 1</th>
					<th>input 2</th>
					<th>input 3</th>
					<th>input 4</th>
					<th>input 5</th>
					<th>input 6</th>
					<th>input 7</th>
				</tr>
			</thead>
			<tbody>
				{% for zrzut in zrzuty %}
					<tr>
						<td> {{ zrzut.id }} </td>
						<td> {{ zrzut.timestamp|slice(0,-3)|date("Y-m-d H:i:s")}} <br> {{ zrzut.timestamp|slice(10,3) }} [ms] </td>
						<td>
							{{ ( zrzut.variablesAccess.input0 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input1 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input2 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input3 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input4 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input5 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input6 == true ? 'on' : 'off' ) }}
						</td>
						<td>
							{{ ( zrzut.variablesAccess.input7 == true ? 'on' : 'off' ) }}
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>


		<div class="navigation">
			{{ knp_pagination_render(zrzuty) }}
		</div>

{% endblock %}