<!doctype html>
<html lang="{{app.request.locale}}">

	<head>
		<title>{% block title %} Simatic Web | Scada{% endblock %}</title>
		<meta charset="UTF-8" />

		{% block css %}
			<link href="{{ asset('bundles/pjplscada/css/pjpl.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('bundles/pjplscada/css/scada.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('bundles/pjplscada/css/menu.css') }}" type="text/css" rel="stylesheet"/>
			<link href="{{ asset('bundles/pjplscada/js/jquery/jquery-ui-1.11.4/jquery-ui.css')}}" type="text/css" rel="stylesheet"/>
		{% endblock %}

	</head>

	<body>
		<div class="nav-top">
			{% block menu %}
					{{ knp_menu_render('PjplScadaBundle:Builder:ScadaMenu') }}
			{% endblock %}
		</div>
		{% block body %}{% endblock %}
		{% block templates %}{% endblock %}
		{% block javascripts %}
			<script src="{{ asset('bundles/pjplscada/js/jquery/jquery-2.1.4.min.js') }}"></script>
			<script src="{{ asset('bundles/pjplscada/js/jquery/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
			<script src="{{ asset('bundles/pjplsimaticserver/js/s7.js') }}"></script>
			<script src="{{ asset('bundles/pjplscada/js/scada-init.js') }}"></script>
			<script src="{{ asset('bundles/pjplscada/js/scada-config.js') }}"></script>
			<script src="{{ asset('bundles/pjplscada/js/scada-application.js') }}"></script>
		{% endblock %}

	</body>

</html>