{% extends "PjplDevBundle::dev-bundle.html.twig" %}

{% block body %}

	<div class="count">
		{{ paginator.getTotalItemCount }}
	</div>


		<table>
			<thead>
				<tr>
					<th>id</th>
					<th style="width:100px;">timestamp</th>
					<th>wejścia</th>
					<th>blok danych </th>
					<th>wyjścia</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}

					<tr>
						<td> {{ item.id }} </td>
						<td> {{ item.timestamp|slice(0,-3)|date("Y-m-d H:i:s")}} <br> {{ item.timestamp|slice(10,3) }} [ms] </td>

						<td>
							<table>
								<tbody>
									<tr><td>wejście 0</td><td><input type="checkbox" name="I_0_0" id="i-0-0" {{ ( item.I[0][0] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 1</td><td><input type="checkbox" name="I_0_1" id="i-0-1" {{ ( item.I[0][1] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 2</td><td><input type="checkbox" name="I_0_2" id="i-0-2" {{ ( item.I[0][2] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 3</td><td><input type="checkbox" name="I_0_3" id="i-0-3" {{ ( item.I[0][3] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 4</td><td><input type="checkbox" name="I_0_4" id="i-0-4" {{ ( item.I[0][4] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 5</td><td><input type="checkbox" name="I_0_5" id="i-0-5" {{ ( item.I[0][5] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 6</td><td><input type="checkbox" name="I_0_6" id="i-0-6" {{ ( item.I[0][6] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wejście 7</td><td><input type="checkbox" name="I_0_7" id="i-0-7" {{ ( item.I[0][7] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
								</tbody>
							</table>
						</td>

						<td>
							<table>
								<tbody>
									<tr>
										<td>zmienna Byte </td><td> {{ item.D.Byte }} </td>
									</tr>
									<tr>
										<td>zmienna Int  </td><td> {{ item.D.Int }} </td>
									</tr>
									<tr>
										<td>zmienna DInt </td><td> {{ item.D.DInt }} </td>
									</tr>
									<tr>
										<td>zmienna Real </td><td> {{ item.D.Real }}</td>
									</tr>
								</tbody>
							</table>
						</td>

						<td>
							<table>
								<tbody>
									<tr><td>wyjście 0</td><td><input type="checkbox" name="Q_0" {{ ( item.Q[0][0] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wyjście 1</td><td><input type="checkbox" name="Q_1" {{ ( item.Q[0][1] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wyjście 2</td><td><input type="checkbox" name="Q_2" {{ ( item.Q[0][2] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wyjście 3</td><td><input type="checkbox" name="Q_3" {{ ( item.Q[0][3] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wyjście 4</td><td><input type="checkbox" name="Q_4" {{ ( item.Q[0][4] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
									<tr><td>wyjście 5</td><td><input type="checkbox" name="Q_5" {{ ( item.Q[0][5] == 1 ? 'checked="true"' : '' ) }} disabled="disabled"></td></tr>
								</tbody>
							</table>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>


		<div class="navigation">
			{{ knp_pagination_render(paginator) }}
		</div>

{% endblock %}